RewriteEngine on

# Rediriger vers HTTPS si ce n'est pas déjà le cas
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} !on
RewriteRule ^(.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirection .html vers sans extension
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

# Ne pas appliquer les règles de réécriture à sendmail.php
RewriteCond %{REQUEST_URI} ^/sendmail\.php$ [NC]
RewriteRule ^ - [L]

# Ajout de l'extension .html si le fichier existe
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# Cache navigateur
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 1 year"
	ExpiresByType image/jpg "access plus 1 year"
	ExpiresByType image/png "access plus 1 year"
	ExpiresByType image/webp "access plus 1 year"
	ExpiresByType text/css "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(jpg|jpeg|png|gif|webp|css|js)$">
		Header set Cache-Control "max-age=31536000, public"
	</FilesMatch>
</IfModule>
